button {
	height: $block-height;
	border: none;
	border-radius: $border-radius;
	background-color: $light;
	padding: 0 0.75rem;
	font-size: 1rem;
	cursor: pointer;
	transition: all .2s ease;
	outline: none!important;
	overflow: hidden;
	position: relative;

	&:hover {
		transform: translateY(-1px) scale(1.05);
		background-color: darken($light, 3);
	}
	&:focus,
	&:active {
		border-radius: $border-radius;
		transform: translateY(0px);		
		transform: scale(1.025);
	}
	&:active {
		background-color: darken($light, 5);
		transform: scale(1);
	}

	// outline
	&:after {
		content: '';
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		box-shadow: inset 0 0 0 0 $black;
		border-radius: $border-radius;
		pointer-events: none;
		transition: 0.2s ease;
		transition-property: box-shadow;
	}


	&.lg {
		height: $block-height-lg;
		font-size: 1.25rem;
		padding: 0 1.5rem;
	}
	&.icon {
		height: 30px;
		width: 30px;
		min-width: 30px;
		border-radius: 50%;
		padding: 0;
		display: flex;
		align-items: center;
		justify-content: center;
	}
	&.striped {
		font-weight: $bold;
		color: $text;
		font-size: 0.9rem;
		transition: all 0.2s ease;
		@include stripe($light, darken($light, 5));

		span {
			display: flex;
			align-items: center;
			justify-content: center;
		}
		i {
			font-size: 1.2rem;
			color: $text;
			margin-right: 0.5rem;
			transform: translateY(1px);
		}

		&:focus,
		&:active,
		&:hover {
			&:after {
				box-shadow: inset 0 0 0 3px $text;
			}
		}
		&:active {
			@include stripe($light, darken($light, 2));
		}

		&:disabled {
			pointer-events: none;
		}
	}

	@each $color, $name in $colors {
		&.#{$name}:not(.custom) {
			background-color: $color;
			color: white;

			&:hover {
				background-color: darken($color, 3);
				&:after {
					box-shadow: inset 0 0 0 3px $color;
				}
			}
			&:focus,
			&:active {
				&:after {
					box-shadow: inset 0 0 0 3px $color;
				}
			}
			&:active {
				background-color: darken($color, 5);
				&:after {
					box-shadow: inset 0 0 0 3px $color;
				}
			}
		}
		&.#{$name}.striped {
			@include stripe($color, darken($color, 5));

			i, span {
				color: white;
			}
			&:focus,
			&:hover {
				&:after {
					box-shadow: inset 0 0 0 3px darken($color, 20);
				}
			}
			&:active {
				@include stripe($color, darken($color, 3));
				&:after {
					box-shadow: inset 0 0 0 3px darken($color, 20);
				}
			}
		}
	}
}
