button {
	height: $block-height;
	border: solid 1px transparent;
	border-radius: $border-radius;
	background-color: $light;
	padding: 0 0.75rem;
	font-size: 1em;
	cursor: pointer;
	transition: all .2s ease;
	outline: none!important;

	&:hover {
		transform: translateY(-1px);
		box-shadow: $box-shadow;
		border-color: darken($light, 15);
	}
	&:focus,
	&:active {
		border-radius: $border-radius;
		transform: translateY(0px);
		border-color: darken($light, 15);
		
	}
	&:active {
		box-shadow: inset $box-shadow;
	}


	&.lg {
		height: $block-height-lg;
		font-size: 1.25em;
		padding: 0 1.5rem;
	}
	&.icon {
		height: 30px;
		width: 30px;
		min-width: 30px;
		border-radius: 50%;
		padding: 0;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	@each $color, $name in $colors {
		&.#{$name}:not(.custom) {
			background-color: $color;
			color: white;
			border-color: darken($color, 5);

			&:hover {
				background-color: lighten($color, 5);
			}
			&:active {
				background-color: darken($color, 15);
			}
			&:focus {
				border-color: darken($color, 10);
			}
		}
	}
}
