button {
	height: $block-height;
	border: solid 1px $border-color;
	border-radius: $border-radius;
	padding: 0 .75rem;
	font-size: 1em;
	cursor: pointer;

	&:focus,
	&:active {
		border-radius: $border-radius;
		border-color: $text;
		outline: none;
		box-shadow: 0 0 0 1px $text;
	}

	&.lg {
		height: $block-height-lg;
		font-size: 1.25em;
		padding: .25rem 1.5rem 0;
	}
	&.black {
		background-color: $black;
		color: white;
		border-color: $black;
	}
}