@each $color, $name in $colors {
	.bg-#{$name} {
		background-color: $color;

		&.bg-darken {
			background-color: darken($color, 10);
		}
		&.bg-lighten {
			background-color: lighten($color, 10);
		}
		&.bg-fade {
			background-color: fade-out($color, .85);
		}
		&.bg-striped {
			@include stripe($color, darken($color, 5));
		}
		&.bg-color {
			color: darken($color, 10);
		}
		&.bg-striped.bg-orange {
			@include stripe($color, lighten($color, 5));
		}
		&.bg-striped.bg-pink {
			@include stripe($color, lighten($color, 5));
		}
		&.bg-striped.bg-green {
			@include stripe($color, darken($color, 3));
		}
	}
	.border-#{$name} {
		border: solid thin $color;
	}
	.text-#{$name} {
		color: $color;
	}
	.outline {
		&:after {
			transition: box-shadow 0.2s ease;
			content: '';
			position: absolute;
			top: 0px;
			right: 0px;
			bottom: 0px;
			left: 0px;
			border-radius: $border-radius;
			pointer-events: none;
		}
	}
	.outline-#{$name}:after {
		box-shadow: inset 0 0 0 4px $color;
	}
}
