@each $color, $name in $colors {
	.bg-#{$name} {
		background-color: $color;

		&.bg-darken {
			background-color: darken($color, 3);
		}
	}
	.border-#{$name} {
		border: solid thin $color;
	}
	.text-#{$name} {
		color: $color;
	}

	.ready-outline-#{$name} {
		&:after {
			transition: box-shadow 0.2s ease;
			content: '';
			position: absolute;
			top: 0px;
			right: 0px;
			bottom: 0px;
			left: 0px;
			border-radius: $border-radius;
			pointer-events: none;
		}
		&.ready:after {
			box-shadow: inset 0 0 0 3px $color;
		}
		&.ready {
			border-color: $color !important;
		}
		&.ready.sm:after {
			box-shadow: inset 0 0 0 2px $color;
		}
		&.nudge:after {
			top: -1px;
			right: -1px;
			bottom: -1px;
			left: -1px;
		}
		&.nudge-2:after {
			top: -1px;
			right: 0px;
			bottom: 0px;
			left: 0px;
		}
	}
}
