input[type='text'] {
	height: $block-height;
	border: solid 1px $border-color;
	border-radius: $border-radius;
	padding: 0 0.75rem;
	font-size: 1rem;
	transition: border-color .2s;

	&:focus,
	&:active {
		border-radius: $border-radius;
		outline: none;
		outline: 0 0 2px $blue;
		// border-color: $blue !important;
	}
	&::placeholder {
		color: $text-placeholder;
		font-weight: $regular;
	}

	&.b-none {
		border-color: transparent;
	}

	&.lg {
		height: $block-height-lg;
		font-size: 1.3rem;
		padding: 0 1rem;
	}
}
