.page {
	width: 100%;
	z-index: 2;
	position: absolute;
	top: 0px;
	right: 0px;
	bottom: 0px;
	left: 0px;
	min-width: 625px;
	overflow-x: auto;
	padding: 0 2rem;

	&--center {
		height: 100vh;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}
	&--limit {
		max-width: $max-width;
		margin: 0 auto;
	}
	&--limit-sm {
		max-width: $max-width-sm;
		margin: 0 auto;
	}
}