// page
.pop-up-enter-active,
.pop-up-leave-active {
	transition: 0.5s ease;
	transition-property: opacity, transform;
}
.pop-up-enter-from {
	opacity: 0;
	transform: translateY(50px) scale(0.9);
}
.pop-up-leave-to {
	opacity: 0;
	transform: translateY(50px) scale(0.9) rotateZ(30deg);
}
// fade
.fade-enter-active,
.fade-leave-active {
	transition: 0.25s ease;
	transition-property: opacity;
}
.fade-enter-from {
	opacity: 0;
}
.fade-leave-to {
	opacity: 0;
}

// ready-btn
.ready-btn-enter-active,
.ready-btn-leave-active {
	transition: 0.25s ease;
	transition-property: opacity, transform;
}
.ready-btn-enter-from {
	opacity: 0;
	transform: rotateX(90deg);
}
.ready-btn-leave-to {
	opacity: 0;
	transform: rotateX(-90deg);
}

// list
.list-enter-active,
.list-leave-active {
	transition: 0.5s ease;
	transition-property: opacity, transform;
}
.list-enter-from,
.list-leave-to {
	opacity: 0;
	transform: translateY(50px) scale(0.9) rotateY(20deg) rotateX(10deg);
}

// user-typing
.user-typing-enter-active,
.user-typing-leave-active {
	transition: 0.2s ease;
	transition-property: opacity, transform;
}
.user-typing-enter-from,
.user-typing-leave-to {
	opacity: 0;
	transform: translateX(-18px) scale(0.75);
}

// user-event
.user-event-enter-active {
	transition: .2s ease;
	transition-property: opacity, transform;
}
.user-event-leave-active {
	transition: 2s ease;
	transition-delay: 5s;
	transition-property: opacity, transform;
}
.user-event-enter-from {
	opacity: 1!important;
}
.user-event-leave-to {
	opacity: 1!important;
}

// timer
.timer-enter-active,
.timer-leave-active {
	transition: 0.2s ease;
	transition-property: opacity, transform;
}
.timer-enter-from {
	opacity: 0;
	transform: scale(1.5) rotateY(-80deg) rotateZ(-30deg)!important;
}
.timer-leave-to {
	opacity: 0;
	transform: scale(0.5) rotateY(50deg) rotateZ(30deg)!important;
}
// timer-circle
.timer-circle-enter-active,
.timer-circle-leave-active {
	transition: .65s ease;
	transition-property: opacity, transform;
}
.timer-circle-enter-from {
	opacity: 0;
}
.timer-circle-leave-to {
	opacity: 0;
	transform: scale(1.5)!important;

}

// button
.form-button-enter-active,
.form-button-leave-active {
	transition: 0.5s ease;
	transition-property: opacity, transform;
}
.form-button-enter-from {
	opacity: 0;
	transform: translateY(20px) scale(0.9) rotateZ(10deg);
}
.form-button-leave-to {
	opacity: 0;
	transform: translateY(20px) scale(0.9) rotateZ(10deg);
}


.list-enter-active,
.list-leave-active,
.list-move {
  transition: 500ms cubic-bezier(0.59, 0.12, 0.34, 0.95);
  transition-property: opacity, transform;
}

.list-enter {
  opacity: 0;
  transform: translateX(50px) scaleY(0.5);
}

.list-enter-to {
  opacity: 1;
  transform: translateX(0) scaleY(1);
}

.list-leave-active {
  position: absolute;
}

.list-leave-to {
  opacity: 0;
  transform: scaleY(0);
  transform-origin: center top;
}

///////////////////////////

.hover-animation {
	animation: hover 3s infinite;
}

@keyframes hover {
	0% {
		transform: translateY(0);
	}
	50% {
		transform: translateY(-0.5rem);
	}
	100% {
		transform: translateY(0);
	}
}

@keyframes barberpole {
	100% {
		background-position: 100% 100%;
	}
}

///////////////////////////

.delay-1 {
	transition-delay: 0.1s;
}
.delay-2 {
	transition-delay: 0.25s;
}
.delay-3 {
	transition-delay: 0.4s;
}
.delay-4 {
	transition-delay: 0.65s;
}
.delay-5 {
	transition-delay: 0.8s;
}
