// margin
.mt {
	&-1 {
		margin-top: 0.5rem;
	}
	&-2 {
		margin-top: 0.75rem;
	}
	&-3 {
		margin-top: 1rem;
	}
	&-4 {
		margin-top: 1.5rem;
	}
	&-5 {
		margin-top: 2rem;
	}
	&-6 {
		margin-top: 2.5rem;
	}
	&-7 {
		margin-top: 3rem;
	}
	&-8 {
		margin-top: 3.5rem;
	}
	&-9 {
		margin-top: 4rem;
	}
	&-10 {
		margin-top: 5rem;
	}
}
.mr {
	&-0 {
		margin-right: 0rem!important;
	}
	&-1 {
		margin-right: 0.5rem;
	}
	&-2 {
		margin-right: 0.75rem;
	}
	&-3 {
		margin-right: 1rem;
	}
	&-4 {
		margin-right: 1.5rem;
	}
	&-5 {
		margin-right: 2rem;
	}
	&-6 {
		margin-right: 2.5rem;
	}
	&-7 {
		margin-right: 3rem;
	}
	&-8 {
		margin-right: 3.5rem;
	}
	&-9 {
		margin-right: 4rem;
	}
	&-10 {
		margin-right: 5rem;
	}
}
.ml {
	&-1 {
		margin-left: 0.5rem;
	}
	&-2 {
		margin-left: 0.75rem;
	}
	&-3 {
		margin-left: 1rem;
	}
	&-4 {
		margin-left: 1.5rem;
	}
	&-5 {
		margin-left: 2rem;
	}
	&-6 {
		margin-left: 2.5rem;
	}
	&-7 {
		margin-left: 3rem;
	}
	&-8 {
		margin-left: 3.5rem;
	}
	&-9 {
		margin-left: 4rem;
	}
	&-10 {
		margin-left: 5rem;
	}
}
.mb {
	&-1 {
		margin-bottom: 0.5rem;
	}
	&-2 {
		margin-bottom: 0.75rem;
	}
	&-3 {
		margin-bottom: 1rem;
	}
	&-4 {
		margin-bottom: 1.5rem;
	}
	&-5 {
		margin-bottom: 2rem;
	}
	&-6 {
		margin-bottom: 2.5rem;
	}
	&-7 {
		margin-bottom: 3rem;
	}
	&-8 {
		margin-bottom: 3.5rem;
	}
	&-9 {
		margin-bottom: 4rem;
	}
	&-10 {
		margin-bottom: 5rem;
	}
}
