$bold: 700;
$regular: 400;
$block-height: 45px;
$block-height-lg: 55px;
$border-radius: 0.5rem;
$max-width-sm: 475px;
$max-width: 625px;
$margin-top: 7.5rem;

// main colors
$navy: #001f3f;
$blue: #0074d9;
$olive: #3d9970;
$green: darken(#2ecc40, 5);
$yellow: #ffdc00;
$orange: #ff851b;
$red: #ff4136;
$maroon: #85144b;
$fuchsia: #f012be;
$purple: #b10dc9;
$black: #111111;
$grey: #aaaaaa;
$silver: #dddddd;
$light: lighten(#eceff4, 3);

$colors: $navy 'navy', $blue 'blue', $olive 'olive', $green 'green',
	$yellow 'yellow', $orange 'orange', $red 'red', $maroon 'maroon',
	$fuchsia 'fuchsia', $purple 'purple', $black 'black', $grey 'grey',
	$silver 'silver', $light 'light';

$text: $black;
$text-light: darken($light, 65);
$text-placeholder: fade-out($text, 0.5);
$text-extra-light: darken($light, 10);
$border-color: darken($light, 5);
$border-color-light: lighten($light, 3);

// shadows
$box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
	0 2px 4px -1px rgba(0, 0, 0, 0.06);
