$bold: 900;
$regular: 400;
$block-height: 45px;
$block-height-lg: 55px;
$border-radius: .5rem;

// colors
$text: black;
$black: black;
$light: lighten(#eceff4, 3);
$border-color: darken(#eceff4, 10);
$border-color-light: darken(#eceff4, 3);

// shadows
$box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);